<nav>
  <a id="nav" href="/">Home</a>
  <a id="nav" href="/crystals">Crystals</a>
  <% if(user) { %>
  <a id="nav" href="/crystals/new">Add a crystal</a>
  <a id="nav" href="/auth/log-out">Log out</a>
  <% } else { %>
  <a id="nav" href="/auth/log-in">Log in</a>
  <a id="nav" href="/auth/sign-up">Sign up</a>
  <% } %>
</nav>
