<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Satisfy&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Satisfy&display=swap"
      rel="stylesheet"
    />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Crystals</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <%- include('./partials/_navbar.ejs') %>
    <h1>The Crystals App</h1>
    <h3>An encyclopedia of crystals</h3>
    <% if (user) { %>
    <p>Welcome, <%= user.username %>!</p>
    <% } else { %>
    <p>Welcome, guest!</p>
    <% } %>
    <div id="button-wrapper">
      <a href="/crystals">Browse Crystals</a>
      <br />
      <% if (user) { %>
      <a href="/crystals/new">Add to the Collection</a>
      <br />
      <a href="/vip-lounge">VIP Lounge</a>
      <br />
      <a href="/auth/log-out">Log out</a>
      <% } else { %>
      <a href="/auth/sign-up">Create an account</a>
      <br />
      <a href="/auth/log-in">Log in</a>
      <% } %>
      <br />
    </div>
  </body>
</html>
